<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fun</title>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700" rel="stylesheet">
  <!-- Here, I've put the compiled normal css and the compiled version -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.comp.css"> -->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
  <section class="hero">
    <div class="hero__image hero--grid">
      <div class="hero__item hero__item--1">
        <div class="hero__logoBox">
          <svg class="logo" viewBox="0 0 260 56">
            <use xlink:href="svg/logo_JL.svg#logo"></use>
          </svg>
        </div>
      </div>

      <div class="hero__item hero__item--2">
        <!-- <div class="hero__packageBox"> -->
          <div class="hero__packageInfo">
            <div class="hero--center">
            <h3 class="hero__packageTitle">Sehr geehrter Herr Mustermann,</h3>
            <h3 class="hero__packageTitle">Starten Sie sauber ins Jahr 2015 mit</h3>
            <h3 class="hero__packageTitle">neuen Perspektiven.</h3>
            </div>
          </div>
        <!-- </div> -->
      </div>
      <div class="hero__item hero__item--3">
        <div class="hero__packageAdv">
          <div class="hero__packageAdvBox--1">
            <div class="hero--center">
              <div class="hero__packageAdvCheck">
                <svg class="arrow" viewBox="0 0 16 13">
                  <use xlink:href="svg/arrow.svg#arrow"></use>
                </svg>
                <p class="hero__packageParagraph">
                  Unbegrenzte Ansicht aller Premium-Jobs
                </p>
              </div>
              <div class="hero__packageAdvCheck">
                <svg class="arrow" viewBox="0 0 16 13">
                  <use xlink:href="svg/arrow.svg#arrow"></use>
                </svg>
                <p class="hero__packageParagraph">
                  Gezielte Filtermöglichkeiten nach Jobs mit mehr Gehalt 
                </p>
              </div>
            </div>
          </div>
          <div class="hero__packageAdvBox--2">
            <div class="hero--centerPrice">
              <div class="hero__packageAdvCheckGreen">
                <svg class="arrowCircle" viewBox="0 0 56 56">
                  <use xlink:href="svg/arrowCircle.svg#arrowCircle"></use>
                </svg>
              </div>
              <div class="hero__packageAdvPrice">
                <div class="hero__packageAdvPriceActual">
                  <h1 class="price--actual">
                    EUR 79,40
                  </h1>
                </div>
                <div class="hero__packageAdvPriceBefore">
                  <p class="price--before">
                    EUR 13,23 pro Monat
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="smallButton" class="hero__item hero__item--4">
        <div id="button" class="hero__packageAttention pointer">
          <h3 class="hero__packageTitle">
            Jetzt säubern und neuen Job finder
          </h3>
        </div>
      </div>

      <div id="smallInfoBox" class="hero__item hero__item--5">
        <div id="infoBox" class="hero__infoBox">
          <div class="hero__infoBoxTitle">
            <h1 class="hero__infoTitle">
              Mehr Informationen:
            </h1>
            <div class="hero__infoBoxClose">
              <svg id="infoClose" class="hero__infoClose pointer">
                <use xlink:href="svg/cross.svg#cross"></use>
              </svg>
            </div>
          </div>
          <div class="hero__infoBoxParagraph">
            <p class="hero__infoParagraph">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Cum vel quaerat ratione quia omnis sunt alias autem illum 
              similique distinctio! Autem itaque vitae corporis quam placeat, voluptatem at vel harum natus, 
              fuga maxime optio sed aspernatur adipisci nostrum nam dicta quas odit! Fugit minima cumque, 
              similique quod eos aliquid quis sequi praesentium error ducimus blanditiis. 
              Voluptate sapiente nihil atque illum ipsa eos, quaerat quis a enim quo ex! 
              Fuga expedita excepturi voluptates, optio facilis dolores vitae fugit aliquid 
              repudiandae odio blanditiis iusto unde quos neque temporibus laboriosam labore 
              minus vel rem necessitatibus? Est distinctio voluptates amet totam repellat saepe. 
              Illum reprehenderit illo maxime vel vero, asperiores porro facilis at temporibus, 
              esse labore quas consectetur suscipit, provident qui perferendis architecto mollitia 
              asperiores porro facilis at temporibus
              voluptate. Autem, tenetur!
            </p>
          </div>
        </div>
      </div>
      <div class="hero__item hero__item--6">
        <div class="hero__SmallBox">
          <img class="hero__SmallImage" src="img/mood-mobile.jpg" alt="">
        </div>
      </div>
      <div class="hero__footerBox hero__item hero__item--7">
        <h1 class="hero__footerText">&copy; 2014 JobLeads GmbH - Alle Rechte vorbehalen</h1>
      </div>
    </div>
  </section>

  <script src="js/app.js"></script>
</body>
</html>